@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background: #e4eabc !important;
	
}

.navbar-brand{
	background-color: #FFE6AB;
}

.head{
	background-color: #FFE6AB ;
}
.navbar{
	position: relative;
	top: 20px;


}

.logo{
	background-color: #FFE6AB ;
	position:relative; 
	top: 0px;
	padding-top: 0px;
	margin-top: 0px;
	border-radius: 50%;
	
}

.nav-item a {
	color: #FDC13E ;
	background-color: transparent;
	text-decoration: none;
}

.nav-item a:hover {
	color : #399D2A;
	background-color: transparent;
	text-decoration: underline;
}

.parent-row{
	/* background-color:rgba(253, 193, 62, 0.8); */
	background-color: rgba(181, 186, 149, 0.4);
	border: 1px solid rgba(67, 65, 65, 0.3);
	padding: 2rem;
	margin: 2rem;
}

.child-row{
	border-bottom: 1px solid rgba(165, 208, 166, 0.5);
	padding: 1.3rem; 
}

.intro-img{
	width: 90%;
}

.ingredients img{
	width: 90%;
}

.instructions img{
	width: 70%;

	margin-left: 4rem;
}

.intro p{
	margin-left: 1rem;
}

h2, h3, h4{
	text-transform: uppercase;
	margin-left: 1rem;
}

.button{
	width: 80%;
	padding: 0.4rem;
	border: none;
	border-radius: 2rem;
	transition: background-color 2s;
}

.button:hover{
	background-color:#cb6262 !important;
}


/* This is for the footer */
footer{
	display: flex;
color: #FDC13E;
background-color: #FFE6AB;
padding-top: 90px;
padding-bottom: 50px;

}

.signup{
	/* border: solid green; */
	margin-bottom: 10px;
}
.click:hover{
color: #399D2A;
	}

.followus{
	/* border: solid green; */
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 30px;
}
.contactus{
	/* border: solid green; */
	margin-bottom: 10px;
}

.ig{
	width: 20px;
}
.fb{
	width: 20px;
}
.pin{
	width: 20px;
}
.twitter{
	width: 20px;
}